* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    width: 800px;
    height: 800px;
    border-style: solid;
    background-color: #c40f0f;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-end
}

.yellow {
    background-color: #e1e13b;
    width: 150px;
    height: 150px;
    border-style: solid;
}

.blue {
    background-color: #2a2aee;
    height: 350px;
    width: 350px;
    border-style: solid;
    padding: 20px;
    display: flex;
    justify-content: space-between
}

.green {
    background-color: #31d515;
    height: 50px;
    width: 50px;
    border-style: solid;
}

.bottom {
    align-self: end;
}